.header {
  border-bottom: 1px solid #eff2f5;
  height: 60px;
}

.header a {
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  border-right: 1px solid #eff2f5;
}

.header-logo > a {
  display: flex;
  padding: 17px 18px;
}

.header-logo img {
  height: 26px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-list li {
  display: flex;
  border-left: 1px solid #eff2f5;
}

.header-list li:hover {
  background: #eff2f5;
}

.header-list button {
  cursor: pointer;
  text-transform: uppercase;
  color: #45494e;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 24px 20px;
}
