.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(210, 214, 223);
  background: #ffffff;
}

.header a {
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  border-right: 1px solid #eff2f5;
  box-sizing: border-box;
}

.header-logo > a {
  display: flex;
  padding: 17px 18px;
}

.header-logo img {
  height: 26px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-list li {
  display: flex;
  border-left: 1px solid #eff2f5;
  box-sizing: border-box;
}

.header-list li:hover {
  background: #eff2f5;
}

.header-list button {
  cursor: pointer;
  text-transform: uppercase;
  color: #45494e;
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 22px 20px;
  max-height: 60px;
}

.header-list button > i {
  color: #D2D6DF;
  font-size: 27px;
  transform: translateY(-5px);
}

.header-list button > i:first-child {
  margin-right: 5px;
}

.menu-logged-in {
  width: 250px;
  display: none;
  position: absolute;
  font-size: 13px;
  background: #fff;
  z-index: 5;
  text-transform: uppercase;
  color: #45494e;
  white-space: nowrap;
  right: 0;
  top: 61px;
  border: 1px solid rgb(210, 214, 223);
  border-top: none;
  letter-spacing: 0.5px;
}

.menu-logged-in hr {
  background: #eff2f5;
  height: 1px;
  border: none;
  margin: 0;
}

li:hover .menu-logged-in {
  display: block;
}

.menu-logged-in > li:hover {
  background: #EFF2F5;
}

.menu-logged-in a {
  width: 100%;
  padding: 22px 20px;
}

button.header-create-event {
  color: #00a1ee;
  font-weight: 700;
}

button.header-create-event:hover {
  color: #22b8ff;
  background: #ffffff;
}

button.header-browse-event:hover {
  color: #00a1ee;
  background: #ffffff;
}
