.event-show-header-image {
  position: absolute;
  width: 100%;
  height: 66vh;
  min-height: 500px;
  z-index: -10;
  overflow: hidden;
}

.event-show-header-image img {
  position: absolute;
  width: 100%;
  transform: scale(1.5);
  filter: blur(50px) brightness(0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.event-show-detail-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  color: #45494E;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1080px) {
  .event-show-detail-container {
    padding-top: 40px;
  }
}

.event-detail-header {
  width: 100%;
  height: 33vw;
  max-height: 360px;
  display: flex;
  border-bottom: 1px solid rgb(210, 214, 223);
}

.event-image-container {
  width: 66.67%;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.event-image-container img {
  width: 100%;
  height: 100%;
}

.event-summary {
  width: 33.33%;
  border-top-right-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1080px) {
  .event-image-container,
  .event-summary {
    border-radius: 0;
  }
}

.event-main-info {
  padding-bottom: 20px;
}

.event-main-info h1 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  letter-spacing: 1px;
}

.event-main-info h4 {
  font-size: 15px;
  color: #666A73;
  margin-top: 20px;
}

.event-month {
  font-size: 12px;
  text-transform: uppercase;
}

.event-date {
  font-size: 24px;
}

.event-detail-main {
  width: 100%;
  background: #ffffff;
  letter-spacing: 1px;
}

.event-detail {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.event-detail p {
  font-size: 15px;
  margin-bottom: 5px;
}

.event-detail-right {
  width: 25%;
}

.event-detail h3 {
  color: #282C35;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.event-detail-left a {
  border: 1px solid #D2D6DF;
  border-radius: 15px;
  font-size: 12px;
  padding: 4px 9px;
  letter-spacing: 1px;
  margin-right: 5px;
}

.event-detail-left a:hover {
  border: 1px solid #00a8f2;
  color: #00a8f2;
}

.event-detail-left h3:nth-child(n+2),
.event-detail-right h3:nth-child(n+2) {
  margin-top: 100px;
}

.event-detail-map-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 360px;
}

#event-detail-map {
  width: 100%;
  height: 100%;
}
