.event-form-section {
  width: inherit;
  background: rgb(248, 248, 250);
}

.event-form-section hr {
  background: #45494E;
  height: 10px;
}

.event-form-section h1 {
  font-size: 35px;
  font-weight: 700;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 25px 0 15px 0;
  text-transform: capitalize;
}

.create-event-form {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.create-event-form div.title-container {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(210, 214, 223);
  margin: 20px 0;
  padding-bottom: 4px;
}

.create-event-form span.index {
  background: #00a8f2;
  color: #ffffff;
  font-size: 35px;
  padding: 2px 14px 5px 14px;
}

.create-event-form span.title {
  font-size: 25px;
  line-height: 35px;
  padding-left: 12px;
}

.create-event-form h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create-event-form textarea,
.create-event-form input {
  width: 75%;
  box-sizing:border-box;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid rgb(210, 214, 223);
}

.create-event-form textarea {
  padding: 10px;
  height: 30vh;
}

.create-event-form input {
  padding: 9px 12px;
  border-radius: 3px;
  background: #ffffff;
}

.create-event-form input.date-picker,
.create-event-form input.time-picker {
}

.create-event-form input.date-picker {
  width: 185px;
  margin-right: 10px;
}

.create-event-form input.time-picker {
  width: 140px;
}

.column {
  width: 100%;
  display: flex;
}

.column > div {
  width: 100%;
  margin-right: 20px;
}

.event-detail-container.address .column {
  width: 100%;
  display: flex;
}

.event-detail-container.address .column input {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.column-inside-column {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.column-inside-column input:first-child {
  margin-right: 5px;
}

.map-container {
  width: 100%;
  height: 215px;
}

#thumb-map {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
  border-radius: 3px;
}

.column > div input.hidden {
  display: none;
}

.type-selector-container select,
.category-selector-container select,
.subcategory-selector-container select {
  background: transparent;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgb(210, 214, 223);
  border-radius: 3px;
  letter-spacing: 1px;
}

.type-selector-container {
  width: 60%;
}

.category-selector-container,
.subcategory-selector-container {
  width: 40%;
  display: inline-block;
  margin-right: 10px;
}

.event-form-footer {
  margin-top: 100px;
}

.save-button-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 60px 10px;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid rgb(210, 214, 223);
  border-bottom: 1px solid rgb(210, 214, 223);
}

.save-button-container h1 {
  font-size: 35px;
  font-weight: 700;
  padding-top: 0;
}

.save-button-container button {
  cursor: pointer;
  text-transform: uppercase;
  background: #00cc52;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

.save-button-container button:hover {
  background: #00d656;
  color: #ffffff;
}
