.home-screen {
  height: calc(100vh - 61px);
  position: relative;
}

.slideshow-overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.slideshow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow-container div {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
}

#slideshow-image-1 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080450/slideshow_image_1_yqbv17.jpg");
}

#slideshow-image-2 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080451/slideshow_image_2_b1kson.jpg");
}

#slideshow-image-3 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080452/slideshow_image_3_isgnpe.jpg");
}

#slideshow-image-4 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080452/slideshow_image_4_m5hujb.jpg");
}

.home-screen-content {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.home-screen-content h2 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.home-screen-content p {
  margin-bottom: 25px;
}

.home-screen-content a {
  display: inline-block;
  cursor: pointer;
  background: #00a8f2;
  border-radius: 3px;
  font-size: 15px;
  width: 200px;
  padding: 11px 0;
  margin: 0 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
