.modal-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #d2d2d4;
  border-radius: 50%;
  color: #d2d2d4;
  font-size: 10px;
  padding: 2px 5px;
}

.modal-close:hover {
  border: 1px solid #666A73;
  color: #666A73;
}

.user-info-form h2 {
  font-size: 25px;
}

.user-info-form input,
.user-info-form button {
  display: block;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.user-info-form button {
  cursor: pointer;
  text-transform: uppercase;
  background: #00cc52;
  color: #FFFFFF;
  padding: 11px 20px;
}

.user-info-form input {
  padding: 9px 12px;
  border: 1px solid rgb(210, 214, 223);
}

.notification-error-table {
  width: 100%;
  margin-top: 15px;
}

.notification-error-table td {
  border: 1px solid rgb(255, 219, 0);
  vertical-align: middle;
}

.notification-error-table .error-icon {
  background: rgb(255, 219, 0);
  width: 40px;
}

.notification-error-table .material-icons {
  font-size: 28px;
}

.notification-error-table .error-content {
  text-align: left;
  padding: 10px;
}
