.myprofile-header-list {
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  border-bottom: 1px solid rgb(210, 214, 223);
}

.myprofile-header-tab {
  width: 196px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #ADB0B6;
  padding-bottom: 10px;
  border-bottom: 5px solid transparent;
}

.myprofile-header-tab.selected {
  color: #45494E;
  border-bottom: 5px solid rgb(0, 168, 242);
}

.myprofile-header-tab:hover {
  color: #45494E;
}

.myprofile-header-count {
  font-weight: 300;
  margin-bottom: 3px;
}

.myprofile-event-lists-container {
  width: 100%;
  max-width: 1080px;
  margin: 15px auto;
}

.myprofile-event-item {
  display: inline-block;
  width: calc(100% / 3);
  padding: 15px;
  box-sizing: border-box;
}

.myprofile-event-detail {
  background: #ffffff;
}

.myprofile-event-thumbnail {
  overflow: hidden;
  height: calc(100vw / 6);
  max-height: 165px;
}

.myprofile-event-thumbnail img {
  width: 100%;
  height: 100%;
}

.myprofile-event-summary {
  border-bottom: 1px solid rgb(239, 242, 245);
  border-top: 1px solid rgb(239, 242, 245);
  box-sizing: border-box;
  background: #ffffff;
  padding: 10px 15px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myprofile-event-summary-top p:first-child {
  color: #45494E;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.myprofile-event-summary-top p:last-child {
  color: #282C35;
  font-size: 15px;
  font-weight: 700;
  margin-top: 3px;
}

.myprofile-event-summary-bottom p {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #666A73;
}

.myprofile-event-footer {
  color: #45494E;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  height: 40px;
  box-shadow: 0 1px rgba(0, 0, 0, .1);
}

.myprofile-event-tags {
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 11px 15px 15px 15px;
}

.myprofile-event-tags a {
  margin-right: 10px;
}

.myprofile-event-bookmark {
  cursor: pointer;
  width: 36px;
  border-left: 1px solid rgb(239, 242, 245);
}

.myprofile-event-bookmark i {
  font-size: 24px;
  color: #979aa0;
  position: absolute;
  transform: translate(6px, 8px);
}

.myprofile-event-bookmark:hover i {
  color: #00A8F2;
}
