.home-screen {
  height: 54vw;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: #ffffff;
  opacity: 0.1;
}

.home-screen > img {
  display: block;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  transform: translateY(-20%);
}

.home-btns button {
  background: #00a8f2;
}

.home-screen-content {
  position: absolute;
  z-index: 2;
  color: #ffffff;
}
